#iching #hex-container {
	--bg-color: #333;
	--text-color: white;
	--link-color: lightsalmon;

	background-color: var(--bg-color);
	color: var(--text-color);
	font-weight: 100;
	text-align: center;
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		color: aqua;
	}

	a,
	h1,
	h2,
	h3 {
		font-family: "Barlow Semi Condensed", sans-serif;
	}

	a,
	h1,
	h3 {
		text-transform: uppercase;
	}

	h1 {
		font-size: 2.75rem;
		text-shadow: 5px 5px 5px black;
	}

	hr {
		background-color: white;
		border: 0;
		height: 2px;
		box-shadow: 5px 5px 5px black;
		margin: 25px 0;
	}

	.header-footer {
		letter-spacing: 20px;
		text-align: center;
		padding: 6px 10px 6px 28px;
		box-sizing: border-box;
		font: bold 1.1rem "Barlow Semi Condensed", sans-serif;
		text-transform: uppercase;

		&.header {
			background-color: black;
			color: #aaa;
			margin: 25px 2px 0;
		}

		&.footer {
			background-color: #666;
			color: white;
			margin: 0 2px 25px;
		}
	}

	#hexagrams {
		width: 50%;
		min-width: 350px;
		text-align: center;

		a {
			color: var(--link-color);
			text-transform: uppercase;
		}

		.hexagram {
			.layered-hexagram {
				--height: 240px;
				--box-shadow-dim: 10px;

				height: calc(var(--height) + (2 * var(--box-shadow-dim)));
				margin-top: 30px;
				overflow: hidden;

				.baguas-container {
					width: 200px;
					height: var(--height);
					background-image: url(https://fern.haus/projects/i-ching/images/stone-bg.jpg);
					background-position: center bottom;
					background-size: auto 240px;
					border-radius: 40%;
					margin: auto;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					z-index: 1;
					box-shadow: var(--box-shadow-dim) var(--box-shadow-dim)
						var(--box-shadow-dim) #111;

					&.shadow {
						background-image: none;
						position: relative;
						top: calc(-1 * var(--height));
						left: 0;
						z-index: 2;
						background: radial-gradient(
							circle at 0% 0%,
							transparent,
							black 350px
						);
					}

					&.lines {
						background: none;
						position: relative;
						top: calc(-2 * var(--height));
						z-index: 3;
						opacity: 0.65;
					}

					.bagua > div {
						height: 15px;
						width: 120px;
						margin: 12px auto;
						transform: skew(-20deg);

						& > div {
							height: 100%;
							background-image: url(https://fern.haus/projects/i-ching/images/line-bg.jpg);
							border-bottom: 5px solid black;
							border-right: 5px solid #666;
							border-radius: 8px;
							opacity: 0.8;
						}

						&.changing {
							div {
								background-image: url(https://fern.haus/projects/i-ching/images/changing-line-bg.jpg);
								background-size: 160px;
								opacity: 1;
							}
						}

						&.yin {
							display: flex;
							justify-content: space-between;

							div {
								width: 40%;
							}
						}
					}
				}
			}

			.bagua-links {
				padding-top: 12px;
			}

			.definition-container {
				.definition,
				td {
					font-size: 0.9rem;
				}

				#changing-lines-table {
					width: 100%;
					text-align: left;

					th {
						font: bold 1.1rem "Barlow Semi Condensed", sans-serif;
						text-transform: uppercase;
					}

					th,
					td {
						padding: 6px 10px;
					}

					th {
						background-color: #666;
					}

					td {
						min-width: 55px;
						background-color: black;
					}
				}
			}
		}
	}
	#bagua-info {
		table {
			width: 350px;
			padding: 0 40px;
			box-sizing: border-box;
			text-align: left;

			tr {
				th {
					text-align: center;
					text-transform: uppercase;
				}

				td {
					width: 60%;
					background-color: black;
					padding: 3px 6px;

					ul {
						padding-left: 25px;
					}
				}

				td:first-child {
					width: 40%;
					background-color: #888;
					font-family: "Barlow Semi Condensed", sans-serif;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
}
