@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&display=swap");

$link-color: salmon;
$max-width: 700px;

.fern-haus-link {
	text-decoration: none;

	&:hover {
		.fern-haus-info {
			background-color: #333;

			img {
				filter: grayscale(100%);
				filter: invert(100%);
			}

			h4 {
				color: #ccc;
			}
		}
	}

	.fern-haus-info {
		background-color: $link-color;
		color: white;
		text-align: center;
		padding: 20px;

		img {
			height: 80px;
			width: auto;
		}

		h4 {
			margin: 0 auto;
		}
	}
}

header {
	text-align: center;

	& > *:not(.fern-haus-link):not(#i-ching-header):not(#cast-lines-link) {
		max-width: $max-width;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;
	}

	#cast-lines-link {
		background-color: $link-color;
		border-radius: 5px;
		color: white;
		display: inline-block;
		font-weight: 600;
		padding: 5px 10px;
		text-decoration: none;

		&:hover {
			background-color: white;
			color: $link-color;
		}
	}

	h3 {
		font-weight: 300;
	}

	hr {
		width: calc(100% - 40px);
		box-sizing: border-box;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
	}

	#i-ching-header {
		background-color: white;
		margin-bottom: 40px;
		padding: 20px;
		text-align: center;

		h1,
		h2 {
			margin: 0;
		}

		h1 {
			color: $link-color;
			font-size: 4rem;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
			position: relative;
			left: 5px;
		}

		h2 {
			color: #666;
		}
	}
}

hr {
	background-color: white;
	border: 0;
	height: 2px;
	box-shadow: 5px 5px 5px black;
	margin: 25px 0;
}

#i-ching #hex-container {
	$bg-color: #333;

	max-width: $max-width;
	background-color: $bg-color;
	box-sizing: border-box;
	font-weight: 100;
	margin: auto;
	padding: 0 20px 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;

	a,
	h1,
	h2,
	h3 {
		font-family: "Barlow Semi Condensed", sans-serif;
		text-transform: uppercase;
	}

	a,
	h1,
	h3 {
		text-transform: uppercase;
	}

	h1 {
		font-size: 2.75rem;
		text-shadow: 5px 5px 5px black;
	}

	.header-footer {
		letter-spacing: 20px;
		text-align: center;
		padding: 6px 10px 6px 28px;
		box-sizing: border-box;
		font: bold 1.1rem "Barlow Semi Condensed", sans-serif;
		text-transform: uppercase;

		&.header {
			background-color: black;
			color: #aaa;
			margin: 25px 2px 0;
		}

		&.footer {
			background-color: #666;
			color: white;
			margin: 0 2px 25px;
		}
	}

	#bagua-info,
	#hexagrams {
		flex: 1;
	}

	#hexagrams {
		text-align: center;

		a {
			color: $link-color;
			text-transform: uppercase;

			&:hover {
				color: white;
			}
		}

		.hexagram {
			.layered-hexagram {
				$height: 240px;
				$box-shadow-dim: 10px;

				height: $height + (2 * $box-shadow-dim);
				margin-top: 30px;
				overflow: hidden;

				.baguas-container {
					width: 200px;
					height: $height;
					background-image: url(../images/stone-bg.jpg);
					background-position: center bottom;
					background-size: auto 240px;
					border-radius: 40%;
					margin: auto;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					z-index: 1;
					box-shadow: $box-shadow-dim $box-shadow-dim $box-shadow-dim
						#111;

					&.shadow {
						background-image: none;
						position: relative;
						top: -1 * $height;
						left: 0;
						z-index: 2;
						background: radial-gradient(
							circle at 0% 0%,
							transparent,
							black ($max-width / 2)
						);
					}

					&.lines {
						background: none;
						position: relative;
						top: -2 * $height;
						z-index: 3;
						opacity: 0.65;
					}

					.bagua > div {
						height: 15px;
						width: 120px;
						margin: 12px auto;
						transform: skew(-20deg);

						& > div {
							height: 100%;
							background-image: url(../images/line-bg.jpg);
							border-bottom: 5px solid black;
							border-right: 5px solid #666;
							border-radius: 8px;
							opacity: 0.8;
						}

						&.changing {
							div {
								background-image: url(../images/changing-line-bg.jpg);
								background-size: 160px;
								opacity: 1;
							}
						}

						&.yin {
							display: flex;
							justify-content: space-between;

							div {
								width: 40%;
							}
						}
					}
				}
			}

			.bagua-links {
				padding-top: 12px;
			}

			.definition-container {
				#changing-lines-table {
					width: 100%;
					text-align: left;

					th {
						font: bold 1.1rem "Barlow Semi Condensed", sans-serif;
						text-transform: uppercase;
					}

					th,
					td {
						padding: 6px 10px;
					}

					th {
						background-color: #666;
					}

					td {
						min-width: 55px;
						background-color: black;
					}
				}
			}
		}
	}

	#bagua-info {
		table {
			width: 100%;
			box-sizing: border-box;
			text-align: left;

			tr {
				th {
					text-align: center;
					text-transform: uppercase;
				}

				td {
					width: 60%;
					background-color: black;
					padding: 3px 6px;

					&:first-child {
						text-align: right;
					}

					ul {
						padding-left: 25px;
					}
				}

				td:first-child {
					width: 40%;
					background-color: #888;
					font-family: "Barlow Semi Condensed", sans-serif;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
}
