@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600;900&display=swap");

body {
	background-color: #333;
	color: #eee;
	font-family: Inter, sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
